body {
    margin: 20px;
    height: 100vh;
    background: linear-gradient(to bottom, indigo, rgba(105, 105, 105, 0.5));
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    margin:auto;
    padding: 0 20px; /* Add some padding to prevent the links from touching the edges of the screen */
}

.link {
    margin: 20px;
    padding: 20px;
    background-color: none;
    text-align: center;
    border-radius: 5px;
    width: 65%; /* Default to 65% width */
    animation: slideIn 2s ease-out forwards;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid white;
    color: white;
    opacity: 0;
    visibility: hidden;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* For iPad screens */
@media only screen and (max-width: 768px) {
    .link {
        width: 70%;
    }
}

/* For mobile screens */
@media only screen and (max-width: 480px) {
    .link {
        width: 80%;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-150%);
        opacity: 0;
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

* {
    box-sizing: border-box;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    border-radius: 5px;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }