body {
    margin: 0;
    background: linear-gradient(to bottom, #A67C52, rgba(210,180,140,0.5));
    }

.round-image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Makes the image round */
    margin-bottom: 50px; /* Adds some space between the image and the video */
    margin-top: 100px;
}

.youtube-video {
    width: 80%; /* Adjust as needed */
    max-width: 800px;
    height: 300px; /* Adjust as needed */
    margin-bottom: 20px;
    border-radius: 15px; 
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fall 2s ease-out forwards;
}

.link {
    margin: 20px;
    padding: 10px;
    background-color: none;
    text-align: center;
    border-radius: 50px;
    width: 60%; /* Default to 65% width */
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
}

.link-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
}

.spacer {
    flex-grow: 1; /* Allows this div to grow to take up available space */
}

.link-image {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Makes the image round */
    margin-right: 10px; /* Adds some space between the image and the link text */
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: teal;
}

/* For iPad screens */
@media only screen and (max-width: 768px) {
    .link {
        width: 70%;
    }
}

/* For mobile screens */
@media only screen and (max-width: 480px) {
    .link {
        width: 80%;
    }
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}